*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color: black;
}

.row{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    align-items: center;
    height: 50%;
}

.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba (50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    background-color: rgba(174, 0, 255, 0.333);
    border-radius: 40px;
    text-align: center;
}

.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.card p{
    color: #ececec;
    font-size: 16px;
}

.green{
    border: 3px solid #cacaca;
}

.button-container{
    justify-content: flex-end;
    display: flex;
    align-items: flex-start;
    margin: 20px;
    text-decoration: none;
}

.button{
    color: #ffffff;
    padding: 16px;
    cursor: pointer;
    background-color: rgba(174, 0, 255, 0.333);
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba (50, 50, 50, 0.22);
    font-family: "Poppins", sans-serif;
}

h2{
    color: rgb(77, 216, 170);
    display: flex;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

p{
    margin-top: 15px;
}